/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #004260; /* Use the primary color */
  height: 20px;
}

.header__item {
  margin-right: 1rem;
  text-decoration: none;
  color: #FFFFFF; /* Use the light color */
}

.header__item.active {
  font-weight: bold;
}

.header__item:hover {
  color: #a8a8a8; /* Use the dark color on hover */
}

.header__left {
  display: flex; /* Ensure children are in a flex container */
  align-items: center; /* Center items vertically */
}

.header__logo {
  width: auto;
  height: 40px; /* Set the height of the logo */
  margin-right: 20px; /* Add some margin */
}
