/* styles.css */
@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo.bold.otf') format('opentype');
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

.banner {
    position: relative;
    width: 100%; /* Set the width of the banner */
    height: 200px; /* Set the initial height of the banner */
    background-image: url('../assets/images/background.jpg');
    background-size: cover; /* Ensure the background image covers the entire banner */
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the logo */
.logo {
    max-width: 80%; /* Set the maximum width of the logo relative to the banner */
    max-height: 80%; /* Set the maximum height of the logo relative to the banner */
}

main {
    padding: 40px;
    text-align: center;
}

.hero {
    margin-bottom: 40px;
}

.cta-button {
    background-color: #004260;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #003448;
}

footer {
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background to the footer */
    color: #fff;
    text-align: center; /* Center-align text */
    padding: 10px 0; /* Add padding for spacing */
}


